<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <appDomainManagerType value="Z45UDG" />
    <appDomainManagerAssembly value="ToRegister, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </runtime>
</configuration>